<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "icon" href = "../Icons/certificate.png">
    <link rel = "stylesheet" href = "../static/certificate.css">
    <title>Acievements</title>
  </head>
<body>
	<br><br>
	<p class = "goback">
<a href = "../index.html" class = "index">
<i class="fa fa-graduation-cap" aria-hidden="true"></i>
&nbsp;&nbsp;PortFolio</a></p>
<br><br>
	<div class = "certificate">
		<img src = "../certificates/html5.jpg" class = "image">
		<br>
		<p class = "caption">Introduction to HTML5</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/css3.jpg" class = "image">
		<br>
		<p class = "caption">Introduction to CSS3</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/javascript.jpg" class = "image">
		<br>
		<p class = "caption">Introduction to Javascript</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/advancedstyling.jpg" class = "image">
		<br>
		<p class = "caption">Advanced Styling with Responsive Design</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/specialization.jpg" class = "image">
		<br>
		<p class = "caption">Web Development and Coding Specialization</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/objectoriented.jpg" class = "image">
		<br>
		<p class = "caption">Object Oriented Data Structures in C++</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/datascience.jpg" class = "image">
		<br>
		<p class = "caption">What is Data Science ?</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/datasciencemethodology.jpg" class = "image">
		<br>
		<p class = "caption">Data Science Methodology</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/toolsfordatascience.jpg" class = "image">
		<br>
		<p class = "caption">Tools for Data Science</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/mathematicalthinking.jpg" class = "image">
		<br>
		<p class = "caption">Mathematical Thinking in Computer Science</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/python.jpg" class = "image image1">
		<br>
		<p class = "caption">Introduction to Python</p>
	</div>

	
	<div class = "certificate">
		<img src = "../certificates/sandrover.jpg" class = "image image1">
		<br>
		<p class = "caption">Sandrover Event</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/cracktheconsultingcode.jpg" class = "image image1">
		<br>
		<p class = "caption">Crack the Consulting Code</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/enhancingsoftskills.jpg" class = "image image1">
		<br>
		<p class = "caption">Enhancing Soft Skills and Personality</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/ethicsinengineering.jpg" class = "image image1">
		<br>
		<p class = "caption">Ethics in Engineering Practice</p>
	</div>

	<div class = "certificate">
		<img src = "../certificates/joyofcomputing.jpg" class = "image image1">
		<br>
		<p class = "caption">Joy of Computing with Python</p>
	</div>



	



<br><br>
	<p class = "goback">
<a href = "../index.html" class = "index">
<i class="fa fa-graduation-cap" aria-hidden="true"></i>
&nbsp;&nbsp;PortFolio</a></p>

<footer class = "foot">
<p> This site is designed by Rushali Sarkar &copy; 2020</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
