<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "icon" href = "../Icons/contact.png">
    <link rel = "stylesheet" href = "../static/contact.css">
    <title>Get in Touch</title>
  </head>


<body>

	<div id = "left">
	<p><a href="https://www.facebook.com/rushalisarkar00/" target = "blank" class = "links" id = "facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;
      Facebook</a></p>

      <p><a href="https://www.instagram.com/rushalisarkar00/" target = "blank" class = "links" id = "instagram">
      <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;&nbsp;
      Instagram</a></p>

      <p><a href="https://www.twitter.com/rushalisarkar00/" target = "blank" class = "links" id = "twitter">
      <i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;
      Twitter</a></p>

      <p><a href="https://t.me/rushalisarkar" target = "blank" class = "links" id = "telegram">
      <i class="fa fa-telegram" aria-hidden="true" ></i>&nbsp;&nbsp;
      Telegram</a></p>

      <p><a href="https://wa.me/8597224060" target = "blank" class = "links" id = "whatsapp">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>&nbsp;&nbsp;
      Whatsapp</a></p>

      <p><a href="https://www.linkedin.com/in/rushalisarkar/" target = "blank" class = "links" id = "linkedin">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp;&nbsp;
      Linked In</a></p>

      <p><a href="mailto:rushalisarkar2000@gmail.com" target = "blank" class = "links" id = "email">
      <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;
      Email</a></p>

      <p><a href="tel:+919593369403" target = "blank" class = "links" id = "phone">
      <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;
      Phone</a></p>
</div>

	<div id = "right">
		<p><i class="fa fa-map-marker" aria-hidden="true" id = "fontsize"></i></p>
		<p>Drop in for a Cup of Tea or Coffee!</p>
		<p>New Town, Netaji Road</p>
		<p>CoochBehar - 736101</p>
		<p>West Bengal, India</p>

      
	</div>

<br><br>
<p class = "goback">
<a href = "../index.html" class = "index">
<i class="fa fa-graduation-cap" aria-hidden="true"></i>
&nbsp;&nbsp;PortFolio</a></p>


<footer class = "foot">
<p> This site is designed by Rushali Sarkar &copy; 2020</p>
</footer>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>